 @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
  body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-size: 15px;
  transition: all 0.4s;
  font-family: Sora;
  background: #000;
  color: #fff;
  background-repeat: no-repeat;
}
.top-img-cont{
  width: 50vw;
  height: 500px;
  float: right;
}
.top-img-cont img{
  width: 50vw;
  height: 100vh;
}
.top-text-cont{
  width: 50vw;
  float: left;
  text-align: center;
  height: 500px;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40vh;
}
.moving_background_gradient {
    background: url(https://media4.giphy.com/media/xT0xepIsg7kK2ZZO0g/200w.webp?cid=ecf05e47c7x8w04ntrx8eboq2i6z69xoxkllraomr10i1vuc&ct=g&rid=200w.webp);
    background-size: cover;
    background-position: 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button {
    border-radius: 50px;
    background: #fff;
    color: #000;
    height: 40px;
    font-weight: bold;
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 25px;
}
@media screen and (max-width: 800px) {
.top-img-cont{
  display:none;
}
.top-img-cont img{
  display:none;
}
.top-text-cont{
  width: 100vw;
  text-align: center;
  height: 300px;
  font-size: 40px;
  font-weight: 700;
  padding-top: 120px;
}
}
 ::-webkit-scrollbar {
    display: none;
}
