 @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
 body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-size: 15px;
  transition: all 0.4s;
  font-family: Sora;
  background: #000;
  color: #fff;
  background-repeat: no-repeat;
}
.top{
  height: 100vh;
}
.top-img-cont{
  width: 50vw;
  height: 100vh;
  float: right;
}
.top-img-cont img{
  width: 50vw;
  height: 100vh;
}
.top-text-cont{
  width: 50vw;
  float: left;
  text-align: center;
  max-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40vh;
}
.moving_background_gradient {
    background: url(https://media4.giphy.com/media/xT0xepIsg7kK2ZZO0g/200w.webp?cid=ecf05e47c7x8w04ntrx8eboq2i6z69xoxkllraomr10i1vuc&ct=g&rid=200w.webp);
    background-size: cover;
    background-position: 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bolder;
}
.button {
    border-radius: 50px;
    background: #fff;
    color: #000;
    height: 50px;
    font-weight: 700;
    margin-top: 30px;
}
iframe{
  width: 480px;
  height: 270px;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
}
.abt{
  background: #fff;
  color: #000;
  min-height: 500px;
  width: 100%;
  text-align: center;
}
.wax img{
  margin-top: -60px;
  z-index: 2;
}
#countdown {
  width: 50%;
  margin: 0 auto;
  padding: 15px 0 20px 0;
  color: #000;
  font-weight: bolder;
}
li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    font-size: 6vw;
    text-align: center;
}  
li .label {
      color: #adafb2;
      font-size: 18px;
      font-size: 1.5vw;
      text-transform: uppercase;
    }
@media screen and (max-width: 800px) {
.top-img-cont{
  display:none;
}
.top-img-cont img{
  display:none;
}
.top-text-cont{
  width: 100vw;
  text-align: center;
  max-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40vh;
}
}
@media screen and (max-width: 500px){
  iframe{
    width: 96vw;
    height: 54vw;
  }
}
 ::-webkit-scrollbar {
    display: none;
}
